/* layoyt */
html,
body {
    height: 100%;
    position: relative;
}

body {
    background: #f3f3f3 url(../images/bg/page-gradient.png) repeat-x 0 0;
    min-width:980px;
    position: relative;
}
.page {
    background: url(../images/bg/page-pict.png) no-repeat 170px 0;
    height: auto !important;
    min-height: 100%;
    position: relative;
}

.container {
    min-width:780px;
    max-width: 1040px;
    padding-left: 196px;
    position: relative;
    text-align: right;
}


.footer,
.main {
    display: inline-block;
    max-width: 1020px;
    min-width: 780px;
    width: 100%;
    text-align: left;
}

.main {
    padding-bottom: 160px;
}

/* header < */

.logo {
    position: absolute;
    left:0;
    top:45px;
    margin: 0;
    padding: 0;
    min-width: 172px;
    max-width: 186px;
    text-decoration: none;
    width: 17%;
    z-index: 8025;
}
.logo__img {
    display: block;
    height: auto;
    width: 100%;
}

/* header > */


/* footer < */

.bottom {
    background: #000 url(../images/bg/footer-pict.jpg) repeat-x 0 100%;
    height: 97px;
    margin-top: -97px;
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.footer {
    color:#a3a3a3;
    font-size:12px;
    line-height: 15px;
    padding: 9px 0;
    position: relative;
    text-align: left;
}

/* footer > */

/* common blocks < */

.line {
    position: relative;
}

/* common blocks > */

/* menu < */

.menu {
    margin: 0;
    padding: 0;
}
.menu__item {
    list-style: none outside;
}
.menu_main {
    letter-spacing: 8px;
    margin: 42px 0 0 0;
}
.menu_main .menu__item {
    display: inline;
    letter-spacing: normal;
    margin: 0 3% 0 0;
}

.menu_main a {
    color:#4d4d4d;
    font-size: 19px;
}
.menu_main a:hover {
    color:#dc2669;
}
.menu__item_active {
    position: relative;
    z-index: 8025;
}
.menu__item_active a {
    color:#dc2669;
    text-decoration: none;
}

/* menu > */

/* content <  */

.social-buttons  {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 28%;
    top: 4px;
}
.social-buttons__item {
    float: left;
    margin: 0 14px 0 0;
    list-style: none;
}
.order-button {
    background: #000;
    font-family: 'lobster_1.4regular';
    height: 42px;
    line-height: 38px;
    color:#fff;
    position: absolute;
    font-size: 24px;
    text-align: center;
    text-decoration: underline;
    top:4px;
    right:2%;
    min-width: 197px;
    width: 25%;
    z-index: 8025;
}
.order-button .order-button__corner {
    position: absolute;
    bottom:-11px;
    right:0;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 11px 11px 0;
    border-color: transparent #000 transparent transparent;
}
.order-button:hover {
    background: #be2c62;
    color:#fff;
}
.order-button:hover .order-button__corner {
    border-color: transparent #be2c62 transparent transparent;
}


.portfolio {
    margin: 32px 0 20px 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    z-index: 8025;
}
.portfolio__item {
    list-style: none outside;
    margin: 0;
    padding: 0;
    float: left;
    height: 45px;
    width: 45px;
    overflow: hidden;
}
.portfolio__item img {
    display: block;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    opacity: 0.9;
}
.portfolio__item img:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.quote_promo {
    float: right;
    margin: 42px 0 20px 35px;
    width: 340px;
}
.quote_promo__top {
    background: #f3e9c9;
    height: 12px;
    position: relative;
    margin: 0 44px 0 11px;
}
.quote_promo .tl {
    background: url(../images/bg/quote-corners.png) no-repeat 0 0;
    position: absolute;
    height: 12px;
    left:-11px;
    top:0;
    width: 11px;
}

.quote_promo .tr {
    background: url(../images/bg/quote-corners.png) no-repeat -12px 0;
    position: absolute;
    top:-14px;
    right:-44px;
    height: 51px;
    width: 44px;
}

.quote_promo__bottom {
    background: #f3e9c9 url(../images/bg/quote-bg-bottom.png) repeat-x 0 100%;
    height: 11px;
    position: relative;
    margin: 0 11px 0 11px;
}
.quote_promo .bl {
    background: url(../images/bg/quote-corners.png) no-repeat 0 -13px;
    position: absolute;
    height: 11px;
    left:-11px;
    top:0;
    width: 11px;
}

.quote_promo .br {
    background: url(../images/bg/quote-corners.png) no-repeat 0 -25px;
    position: absolute;
    top:0;
    right:-11px;
    height: 11px;
    width: 11px;
}

.quote_promo__content {
    background: #f3e9c9 url(../images/bg/quote-bg-right.png) repeat-y 100% 0;
    padding: 20px 30px 10px 35px;
}

.quote_promo .quote__text {
    font-size: 16px;
    line-height: 18px;
    font-family: 'PTSansNarrowRegular';
    font-style: italic;
    min-height: 110px;
}
.quote__author {
    font-family: 'PTSansBoldItalic';
    display: block;
    text-align: right;
    font-size: 20px;
    font-weight: normal;
}

.quote_author .incut_img {
     float: right;
    margin: 6px 0 0 25px;
    width: 41%;
}

.quote_author {
    color:#272727;
    font-family: 'PTSansItalic';
        margin-bottom: 10px;
    min-height: 225px;
    overflow: hidden;
}

.poems-types {
    margin: 0;
    padding: 0;
}
.poems-types__item {
    display: inline;
    margin: 0 32px 0 0;
}
.poems-types__item a {
    font-size: 19px;
    font-family: 'PTSansNarrowRegular';
}
.page-head {
    display: inline-block;
    position: relative;
    margin-bottom: 35px;
    max-width: 620px;
}
.page-title {
    display: inline-block;
    position: relative;
    font-size: 45px;
    line-height: 54px;
    margin-top: 70px;
    font-family: 'PTSansNarrowBold';
    text-transform: uppercase;
    font-weight: normal;
}
.page-head__note {
    display: block;
    font-size: 30px;
    color:#afafaf;
    text-transform: lowercase;
    font-weight:normal;
    font-family: 'PTSansNarrowRegular';
    line-height: 30px;
    margin-top: -5px;
}
.page-head .ico_text-label {
    background: url(../images/bg/hit.png) no-repeat 0 0;
    bottom: 31px;
    height: 97px;
    position: absolute;
    right: -65px;
    width: 97px;
    z-index: -1;
}

.promo-title {
    clear: both;
    font-family: 'PTSansNarrowRegular';
    font-size: 31px;
    line-height: 1.35;
    margin-bottom: 62px;
}
.promo-title .marked {
    color:#d7316e;
}

.promo-gallery,
.promo-gallery__item {
    padding: 0;
    margin: 0;
    list-style: none;
}

.column {
    float: left;
}
.columns_home {
    padding-left: 150px;
    min-height: 558px;
    position: relative;
}
.columns_home .column {
    margin-left:11%;
    width: 35%;
    min-width: 260px;
}


.columns_home .promo-gallery {
    left: -14px;
    position: absolute;
    margin: 0;
    padding: 0;
    min-width: 192px;
    width: 192px;
}
.columns_home .promo-gallery__item {
    margin-bottom: 40px;
}
.promo-gallery__item_first {
    -moz-transform: rotate(-1deg);  /* FF3.5+ */
    -o-transform: rotate(-1deg);  /* Opera 10.5 */
    -webkit-transform: rotate(-1deg);  /* Saf3.1+, Chrome */
    -ms-transform: rotate(-1deg);  /* IE9 */
    transform: rotate(-1deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand',M11=0.9998476951563913, M12=0.01745240643728351, M21=-0.01745240643728351, M22=0.9998476951563913);
    zoom: 1;
}

.promo-gallery__item_second {
    -moz-transform: rotate(2deg);  /* FF3.5+ */
    -o-transform: rotate(2deg);  /* Opera 10.5 */
    -webkit-transform: rotate(2deg);  /* Saf3.1+, Chrome */
    -ms-transform: rotate(2deg);  /* IE9 */
    transform: rotate(2deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.9993908270190958, M12=-0.03489949670250097, M21=0.03489949670250097, M22=0.9993908270190958);
    zoom: 1;
    margin-left: 13px;

}
.promo-foto {
    background: #fff;
    padding: 10px;
    border:1px solid #d9d9d9;
    width: 170px;
}


.promo-foto__img {
    display: block;
    height: auto;
    margin-bottom: 6px;
    width: 170px;
}

.promo-foto__title {
    font-family: 'PTSansNarrowRegular';
    font-size: 17px;
    text-align: center;
    display: block;
}

.promo-gallery__item_first .promo-foto__title {
  -moz-transform: rotate(1deg);  /* FF3.5+ */
    -o-transform: rotate(1deg);  /* Opera 10.5 */
    -webkit-transform: rotate(1deg);  /* Saf3.1+, Chrome */
	-ms-transform: rotate(1deg);  /* IE9 */
    transform: rotate(1deg);
 	filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', /* IE6-IE9 */
	M11=0.9998476951563913, M12=-0.01745240643728351, M21=0.01745240643728351, M22=0.9998476951563913);
 	zoom: 1;
}
.promo-gallery__item_second .promo-foto__title {
    -moz-transform: rotate(-2deg);  /* FF3.5+ */
    -o-transform: rotate(-2deg);  /* Opera 10.5 */
    -webkit-transform: rotate(-2deg);  /* Saf3.1+, Chrome */
    -ms-transform: rotate(-2deg);  /* IE9 */
    transform: rotate(-2deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', /* IE6-IE9 */
	M11=0.9993908270190958, M12=0.03489949670250097, M21=-0.03489949670250097, M22=0.9993908270190958);
    zoom: 1;

}


/* text-box < */

.text-box__head {
    position: relative;
    border-bottom: 4px solid #000;
    margin-bottom: 33px;
    padding-bottom: 6px;
    height: 58px;
}
.text-box__head:after {
    content:"";
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 4px 11px 0 0;
    border-color: #cb2d67 transparent transparent transparent;
    bottom:-7px;
    right:0;
}

.text-box__title {
    background-color: rgba(229, 177, 51, 0.4);
    display: inline-block;
    padding: 0 15px;
}
.text-box__title__text {
    color: #000;
    font-family: 'Arial';
    font-size: 22px;
    display: inline-block;
}

.text-box__note {
    background-color: rgba(252, 225, 137, 0.7);
    display: inline-block;
    padding: 0 10px;
    height: 27px;
    margin-top: -3px;

}
.text-box__note__text {
    color:#867e7e;
    font-size: 13px;
    font-style: italic;
    font-family: 'Arial';
    line-height: 30px;
    display: inline-block;
}
.text-box__foto {
    position: absolute;
    right: 0;
    bottom:0;
}

.text-box__head_style1 .text-box__title,
.text-box__head_style1 .text-box__note {
    -moz-transform: rotate(-1deg);  /* FF3.5+ */
    -o-transform: rotate(-1deg);  /* Opera 10.5 */
    -webkit-transform: rotate(-1deg);  /* Saf3.1+, Chrome */
    -ms-transform: rotate(-1deg);  /* IE9 */
    transform: rotate(-1deg);


}

.text-box__head_style1 .text-box__title {
    margin-left: 6px;
    margin-top: 12px;
    padding-left: 12px;
    padding-right: 14px;
}

.text-box__head_style1 .text-box__note {
    margin-top: -4px;
    padding-right: 18px;
    margin-left: 1px;
    padding-left: 15px;
}

.text-box__head_style2 .text-box__title {
    margin-left: -5px;
    margin-top: 13px;
    padding-left: 15px;
    padding-right: 28px;
    padding-top: 0;
}

.text-box__head_style2 .text-box__note {
    -moz-transform: rotate(1deg);  /* FF3.5+ */
    -o-transform: rotate(1deg);  /* Opera 10.5 */
    -webkit-transform: rotate(1deg);  /* Saf3.1+, Chrome */
    -ms-transform: rotate(1deg);  /* IE9 */
    transform: rotate(1deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', /* IE6-IE9 */
	M11=0.9998476951563913, M12=-0.01745240643728351, M21=0.01745240643728351, M22=0.9998476951563913);
    zoom: 1;
    margin-left: 2px;
    padding-left: 13px;
    margin-top: -5px;
}
.text-box__head_style2 .text-box__note__text {
    -moz-transform: rotate(-1deg);  /* FF3.5+ */
    -o-transform: rotate(-1deg);  /* Opera 10.5 */
    -webkit-transform: rotate(-1deg);  /* Saf3.1+, Chrome */
    -ms-transform: rotate(-1deg);  /* IE9 */
    transform: rotate(-1deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', /* IE6-IE9 */
	M11=0.9998476951563913, M12=0.01745240643728351, M21=-0.01745240643728351, M22=0.9998476951563913);
    zoom: 1;
}

.text-box__head_style1 .text-box__title__text,
.text-box__head_style1 .text-box__note__text {
    -moz-transform: rotate(1deg);  /* FF3.5+ */
    -o-transform: rotate(1deg);  /* Opera 10.5 */
    -webkit-transform: rotate(1deg);  /* Saf3.1+, Chrome */
    -ms-transform: rotate(1deg);  /* IE9 */
    transform: rotate(1deg);
}

.text-box__head_style3 .text-box__title {
     margin-left: -5px;
    margin-top: 13px;
    padding-left: 15px;
    padding-right: 28px;
    padding-top: 0;
 -moz-transform: rotate(1deg);  /* FF3.5+ */
    -o-transform: rotate(1deg);  /* Opera 10.5 */
    -webkit-transform: rotate(1deg);  /* Saf3.1+, Chrome */
    -ms-transform: rotate(1deg);  /* IE9 */
    transform: rotate(1deg);
    margin-bottom: -3px;

}
.text-box__head_style3 .text-box__title__text {
    -moz-transform: rotate(-1deg);  /* FF3.5+ */
    -o-transform: rotate(-1deg);  /* Opera 10.5 */
    -webkit-transform: rotate(-1deg);  /* Saf3.1+, Chrome */
    -ms-transform: rotate(-1deg);  /* IE9 */
    transform: rotate(-1deg);
}


.text-box__head_style3 .text-box__note {
    -moz-transform: rotate(-4deg);  /* FF3.5+ */
    -o-transform: rotate(-4deg);  /* Opera 10.5 */
    -webkit-transform: rotate(-4deg);  /* Saf3.1+, Chrome */
    -ms-transform: rotate(-4deg);  /* IE9 */
    margin-left: 2px;
    margin-top: -10px;
    transform: rotate(-4deg);
    height: 25px;
}

.text-box__head_style3 .text-box__note__text {
    -moz-transform: rotate(4deg);  /* FF3.5+ */
    -o-transform: rotate(4deg);  /* Opera 10.5 */
    -webkit-transform: rotate(4deg);  /* Saf3.1+, Chrome */
    -ms-transform: rotate(4deg);  /* IE9 */
    transform: rotate(4deg);
}

.text-box_inline .text-box__head {
    display: inline-block;
    width: 58%;
}

/* portfolio popup <  */

.portfolio-popup .column_left {
    float: left;
    padding: 75px 40px 0 90px;
    width: 450px;
}
.portfolio-popup .page-head {
    margin-left: -50px;
}
.portfolio-popup .page-title {
    margin-top: 0;
}
.portfolio-popup .column_right {
    float: right;
    padding: 0 20px 0 0;
    width: 390px;
}
.portfolio-popup .portfolio-img {
    max-width: 390px;
    height: auto;
    display: block;
}
.portfolio-popup page-title {
    margin: 0;
}

.author-copy {
    font-family: 'PTSansBoldItalic';
    font-size: 20px;
    font-weight: normal;
    display: block;
    margin-top: 15px;
}

.portfolio-description {
    font-size: 14px;
    line-height: 20px;
    width: 290px;
}
.portfolio-description dt {
    color: #dc2669;
}
.portfolio-description dd {
    color:#7c7c7c;
    margin:0 0 15px;
}
/* portfolio popup > */


/* fancybox < */


.fancybox-wrap {
    position: absolute;
    left: 0;
    z-index: 8020;
    margin: 0 0 40px;
    top:230px !important;
    width: 990px !important;
}

.fancybox-opened {
    z-index: 8030;
}

.fancybox-outer, .fancybox-inner {
    position: relative;
}

.fancybox-inner {
    overflow: hidden;
    background: #f3f3f3;
    padding-bottom: 20px;
    width: 990px !important;

}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch;
}

.fancybox-nav {
    position: absolute;
    top:25px;
    left:40px
}
.fancybox-nav span {
    background: url(../images/bg/icons.png) no-repeat 1000px 1000px;
    display: block;
    width: 25px;
    height: 18px;
    cursor: pointer;
    z-index: 8040;
    position: absolute;
        top:0;
    left:0;
}

.fancybox-prev span {
    background-position: -38px -20px;
}
.fancybox-prev span:hover {
    background-position: -38px 0;
}
.fancybox-prev {
    left: 40px;
}

.fancybox-next span {
    background-position: -65px 0;
}
.fancybox-next span:hover {
    background-position: -65px -20px;
}

.fancybox-next {
    left:90px;
}

.fancybox-lock {
    overflow: hidden;
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: url('../images/bg/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll;
}


/* fancybox > */

/* incut <  */


.incut {
    background: #ffffff;
    border:1px solid #d8d8d8;
    color:#373737;
    font-size: 16px;
    line-height: 20px;

}
.incut_single {
    float:left;
    margin: 10px 4% 15px 0;
    padding: 30px 4%;
    width: 29%;
}

.incut_img {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    width: 44%;
    min-width: 145px;
    max-width: 243px;
}
.incut_img img {
    display: block;
    width: 100%;
}
.columns_incut {
    margin-top: -28px;
}
.columns_incut .column_left {
   float: left;
    min-width: 345px;
    padding-right: 40px;
    width: 38%;
}
.column_left .incut {
    padding: 33px 19px 33px 33px;
    margin-bottom: 30px;
}
.columns_incut .column_right {
   overflow: hidden;
   float: none;
   padding-top: 10px;
}

.columns_incut .text-box__head_style1 {
    margin-top: -9px;
    margin-bottom: 26px;
}
.columns_incut .text-box__head_style1 {
    margin-top: -9px;
    margin-bottom: 26px;
}
/* incut <  */
