/* layoyt */
html,
body {
    height: 100%;
    position: relative;
}

body {
    background: #fff;
    font-family: 'Arial', 'Helvetica', sans-serif;
    min-width:1280px;
    position: relative;
}
.wrap {
    height: auto !important;
    min-height: 100%;
    position: relative;
    z-index: 1;
}


.main {
    position: relative;
    padding-bottom: 70px;
    margin: 0 auto;
    width: 1250px;
}
.columns {
    overflow: hidden;
}
.column_left {
    float: left;
    width: 825px;
}

.column_right {
    float: right;
    width: 395px;
}

.columns_content .column_left {
    float: left;
    width: 395px;
}
.columns_content .block__title {
    margin-top: 6px;
}


/* header < */

.header {
    background: url(../images/bg/header-bg.png) repeat-x 0 0;
    min-width: 1280px;
}

.top {
    height: 81px;
    padding-top: 26px;
    position: relative;
    margin: 0 auto;
    width: 1250px;
}

.section_logo {
    position: relative;
    float: left;
    width: 530px;
    margin-right: 22px;
}

.logo {
    float: left;
    margin-right: 20px;
}
.logo a {
    display: block;
    text-decoration: none;
}

.slogan {
    position: relative;
    padding-top: 30px;
    float: left;
    width: 370px;
}
.slogan__text {
    position: absolute;
    top:0;
    background: url(../images/bg/slogan-bg.png) no-repeat 0 0;
    left:-4px;
    height: 22px;
    width: 370px;
    line-height: 22px;
    color:#fff;
    font-size: 15px;
    font-family: 'PTSansRegular';
    text-transform: uppercase;
    text-align: center;
}

.top .block_order {
    float: left;
    margin-right: 19px;
}

.section_projects {
    float: left;
    width: 80px;
    text-align: center;
    margin: 4px 19px 0 0;
    padding-top: 27px;
    position: relative;
}
.projects-link {
    background: url(../images/bg/projects-link-bg.png) no-repeat 0 0;
    color: #FFFFFF;
    font-family: 'PTSansNarrowBold';
    font-size: 15px;
    height: 22px;
    left: -4px;
    line-height: 22px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    top: 0;
    width: 83px;
}

.faq-link {
    float: left;
    text-decoration: none;
    background: url(../images/bg/faq-top-bg.png) no-repeat 0 0;
    width: 55px;
    height: 41px;
    color:#c7c3bb;
    font-size: 23px;
    font-family: 'PTSansNarrowRegular';
    overflow: hidden;
    padding: 0 5px;
    text-align: center;
    line-height: 43px;
}
.section_contacts {
    float: right;
    width: 195px;
    text-align: right;
}
.phone {
    width: 195px;
    text-align: right;
    color:#a40d21;
    font-size: 22px;
}
.phone-code {
    color:#595959;
}

.contacts-menu {
    margin: 0;
    padding: 5px 0 0 0;
    text-align: right;
}

.contacts-menu__item {
    list-style: none outside;
    display: inline;
    margin-left: 8px;
}

/* header > */

/* mainmenu < */
.section_nav {
    background: #ededed url(../images/bg/menu-dot.png) repeat-x 0 100%;
    min-height: 120px;
}

.mainmenu {
    height: 62px;
}

.mainmenu .menu {
    padding:0;
    width: 1280px;
    margin: 0 auto;
    text-align: justify;
}
.mainmenu .menu__item {
    display: inline-block;
    position: relative;
    text-align: left;
    white-space: nowrap;
    vertical-align: top;
}

.mainmenu .menu__item a,
.mainmenu .menu__item span {
    font-family: 'PTSansNarrowBold';
    font-size: 17px;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    padding:16px 14px 0;
    height: 46px;
}
.menu__item-note {
    display: block;
    text-transform: lowercase;
    font-size: 14px;
    color:#848484;
    font-family: 'PTSansNarrowRegular';
    font-style: normal;
    margin-top: -1px;
}

.mainmenu_helper {
    display:inline-block; width:100%; height:0; font-size:0;
}

.section_nav_active {
    background:#ededed url(../images/bg/nav-active-bg.png) repeat-x 0 100%;
    min-height: 150px;
}
.section_nav_active .mainmenu {
    background: url(../images/bg/menu-active-bg.png) repeat-x 0 0;
}
.mainmenu  .menu__item_active {
    background: url(../images/bg/menu-active.png) no-repeat 0 -1px;
    margin: 0 -10px;
}
.mainmenu .menu__item_active a,
.mainmenu .menu__item_active span {
    background: url(../images/bg/menu-active.png) no-repeat 100% -64px;
    padding-left: 27px;
    padding-right: 27px;
    color: #a3010e;
}
.menu__item_active .menu__item-note {
    color: #a3010e;
}

.submenu {
    width: 1250px;
    margin: 0 auto;
    padding-bottom: 55px;
}
.submenu .menu {
    overflow: hidden;
    padding-top: 10px;
}
.submenu .menu__item {
    float: left;
    list-style: none outside;
    margin-right: 25px;
    margin-bottom: 6px;
}
.submenu .menu__item a,
.submenu .menu__item_active span {
    font-size: 13px;
    font-family: 'PTSansNarrowRegular';
    color:#6b6b6b;
    text-transform: uppercase;
    padding-left: 18px;
    background: url(../images/bg/submenu-bullet.png) no-repeat 0 3px;
}
.submenu .menu__item_active span {
    color: #A3010E;
	text-decoration: underline;
	cursor: default;
}
/* mainmenu > */


/* footer < */

.footer {
    background: url(../images/bg/footer-bg.png) repeat-x 0 0 #e6e6e6;
    position: relative;
    margin: 0 0 0;
    z-index: 2;
}
.footer_main_inner {
    margin: 0 auto;
    position: relative;
    padding-top: 120px;
    width: 1250px;
}
.bottom {
    height: 83px;
    background: #000;
}
.bottom__inner {
    margin: 0 auto;
    position: relative;
    padding-top: 12px;
    width: 1250px;
}

.copy {
    background: url(../images/bg/logo_small.png) no-repeat 0 0;
    height: 37px;
    line-height: 36px;
    padding-left: 122px;
    margin-bottom: 17px;
}
.section_sitemap {
    background: url(../images/bg/footer-dotted.png) repeat-x 0 0;
    padding-top: 13px;
}
.section_sitemap > .menu {
    letter-spacing: -3px;
    margin-left: -40px;
}
.section_sitemap > .menu > .menu__item {
    display: inline-block;
    letter-spacing: normal;
    margin-bottom: 5px;
    margin-left: 38px;
    max-width: 158px;
    vertical-align: top;
}
.section_sitemap > .menu > .menu__item > a,
.section_sitemap > .menu > .menu__item > .dm_current {
    color: #e97400;
    font-size: 17px;
    font-family: 'PTSansNarrowBold';
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    margin-bottom: 3px;
    display: block;
    line-height: 23px;
}
.section_sitemap .menu__item-note {
    color: #000;
    font-size: 15px;
}
.menu_sub .menu__item {
    color:#717171;
    text-decoration: underline;
    margin-bottom: 4px;
}
.menu_sub .menu__item:hover {
    text-decoration: none;
}
.menu_sub .menu__item a,
.menu_sub .menu__item .dm_current {
    background: url("../images/bg/bottom-menu-bullet.png") no-repeat scroll 0 9px transparent;
    color: #717171;
    font-family: 'PTSansNarrowRegular';
    font-size: 12px;
    padding-left: 7px;
    text-decoration: none;
    text-transform: uppercase;
}

.user-menu {
    margin: 0;
    padding: 0;
    position: absolute;
    left:0;
    top:40px;
}
.user-menu__item {
    float: left;
    list-style: none outside;
    margin-right: 14px;
}
.user-menu__item a {
    background: url(../images/bg/icons.png) 0 3px no-repeat;
    color: #fff;
    font-family: 'PTSansNarrowRegular';
    font-size: 13px;
    padding-left: 7px;
    text-transform: uppercase;
    padding-left: 22px;
}
.bottom-contacts {
    float: left;
}

.bottom-contacts__item {
    float: left;
    text-decoration: none;
    width: 510px;
}

.bottom-contacts__title {
    color: #E97400;
    font-family: 'PTSansNarrowBold';
    font-size: 17px;
    vertical-align: middle;
    text-transform: uppercase;
    display: block;
    font-weight: normal;
}
.phone-number {
    color:#fff;
    font-size: 20px;
    vertical-align: middle;
}
div.bottom-contacts__item .bottom-contacts__title {
    display: inline;
}
a.bottom-contacts__item {
    display: block;
    text-decoration: none;
    position: relative;
    padding-left: 50px;
    line-height: 15px;
    color: #fff;
    font-size: 13px;
    margin-right: 50px;
    width: auto;
    margin-top: 4px;
}
a.bottom-contacts__item .ico {
    position: absolute;
    top:0;
    left:0;
}
.bottom .faq-link {
    background: none;
    display: block;
    position: relative;
    float: left;
    width: auto;
    height: 33px;
    line-height: 28px;
    width: auto;
    white-space: nowrap;
    padding: 0 12px;
    margin-top: 7px;
}

.ico-faq-corner {
    display: block;
    position: absolute;
    background: url(../images/bg/icons.png) no-repeat  0 0;
    height: 33px;
    width: 11px;
}
.ico-faq-corner_left {
    background-position: -32px -86px;
    top:0;
    left:0;
}
.ico-faq-corner_right {
    background-position: -43px -86px;
    top:0;
    right:0;
}

.bottom .faq-link a {
    color:#8d8d8d;
    font-size: 18px;
    font-family: 'PTSansNarrowBold';
}

/* footer > */

/* order block < */

.block_order {
    background: url(../images/bg/block_order-bg.png) no-repeat 0 0;
    display: block;
    height: 45px;
    overflow: hidden;
    padding-left: 35px;
    width: 112px;
}
.block_order a {
    color:#a0091a;
    font-family: 'PTSansNarrowBold';
    font-size: 14px;
    line-height: 43px;
    text-transform: uppercase;
    font-style: italic;

}
/* order block > */

/* question block < */
.questions-list {
    margin: 0;
    padding: 0;
}
.questions-list__item {
    list-style: none outside;
    margin: 0 0 12px 0;
    padding: 20px 0 0 35px;
    border-top:1px dotted #000;
}
.questions-list__item:first-child {
    border:0;
}
.question__title {
	color: #305193;
    display: block;
    font-family: 'PTSansNarrowRegular';
    font-size: 15px;
    line-height: 18px;
    max-height: 52px;
    overflow: hidden;
    text-transform: uppercase;
	margin-bottom: 3px;
}

.question__title a {
    position: relative;
}
.question__title .ico_comments {
    margin-left: -32px;
    position: absolute;
}

.question__author {
    display: block;
    font-size: 13px;
}

.question__text {
     font-size: 12px;
    font-style: italic;
    line-height: 16px;
    max-height: 65px;
    overflow: hidden;
}
.question-category {
    color: #bfbfbf;
    font-family: 'PTSansNarrowRegular';
    font-size: 15px;
    text-transform: uppercase;
    line-height: 20px;
}
.articles-link {
    font-size:15px;
    font-family: 'PTSansNarrowBold';
    text-transform: uppercase;
    color:#f16910;
}

.more-link {
    font-size:15px;
    font-family: 'PTSansNarrowBold';
    text-transform: uppercase;
}

.block_faq .block__title {
    color: #fff;
    font-size:18px;
    font-family: 'PTSansNarrowBold';
    background: url(../images/bg/faq-block-title.png) no-repeat 0 0;
    height: 26px;
    line-height: 26px;
    padding: 0 0 17px 25px;
    margin: 0 0 0 -3px;
    font-weight: normal;

}
.block__bottom .articles-link {
    position: absolute;
    right: 0;
    bottom:0;
    white-space: nowrap;
    max-width: 280px;
    text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  overflow: hidden;
}

/* question block >  */

/* article <  */

.article__title {
    font-family: 'PTSansBold';
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 27px;
}
.article__title .ico_comments {
    margin: 2px 5px 0 0;
}
.article {
    padding-top: 20px;
}
.article__text {
    color: #3b3b3b;
    font-family: 'arialnarrow','Arial Narrow', 'Geneva', sans-serif;
    font-size: 17px;
    line-height: 25px;
    height: 123px;
    overflow: hidden;
}
.article__image {
    max-width: 400px;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

.article-sub {
	border-top:1px dotted #000;
	border-bottom:1px dotted #000;
	position: relative;
	height: 20px;
	padding: 16px 0;
}

.share-box {
	position: absolute;
	right: 0;
	top:3px;
}


.share-btn {
	background: url(../images/bg/share-arrow.png) no-repeat 90px 19px;
	padding-right: 45px;
	color:#5d5d5d;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'PTSansNarrowRegular';
	cursor: pointer;
	height: 50px;
	line-height: 45px;
}

.share-dropdown {
    background: #000;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 4px;
    top: 49px;
    width: 208px;
    display: none;
}
.share-box:hover .share-dropdown {
	display: block;
}
.share-dropdown__item {
	position: relative;
	border-top:1px dashed #333333;
	list-style: none;
	margin: 0;
}
.share-dropdown__item:first-child {
	border-top:0;
}
.share-dropdown__item a {
	display: block;
	height: 24px;
	padding: 13px 17px 13px 53px;
	text-decoration: none;
	position: relative;
	font-size: 12px;
	line-height: 24px;
	color: #fff;
}
.share-dropdown__item a:hover {
	text-decoration: underline;
}
.share-dropdown__item .ico {
	position: absolute;
	top:12px;
	left: 17px;
	height: 24px;
	width: 24px;
}

.likes-panel {
	border-top:1px dotted #000;
	border-right:1px dotted #000;
	border-bottom:1px dotted #000;
	overflow: hidden;
	margin-bottom: 30px;
}
.likes-panel__item {
	padding: 17px 0;
	text-align: center;
	width: 205px;
	float: left;
	border-left: 1px dotted #000;
	overflow: hidden;
	height: 22px;
}
.likes-btn {
	display: inline-block;
	vertical-align:top;
}
.likes-btn_google {
    width: 70px;
}
.likes-btn_vk {
    width: 145px;
}
.likes-btn_tw {
    width: 98px;
}
/* article >  */

/* commeents <  */

.comments-head {
	border-bottom: 1px dotted #000000;
    border-top: 1px dotted #000000;
    height: 22px;
    padding: 16px 0;
    position: relative;
}

.comments-head h3 {
	color: #000000;
	text-transform: uppercase;
	font-family: 'PTSansNarrowBold';
	font-size: 17px;
	line-height: 27px;
}


.comments-head .qustion-form-link {
	position: absolute;
	text-transform: uppercase;
	font-family: 'PTSansNarrowBold';
	font-size: 17px;
	color: #e96e11;
	padding-right: 30px;
	top:20px;
	right: 0;
}
.comments-head .qustion-form-link .ico {
	right: 0;
	top:3px;
	position: absolute;
}

.comments-list {
	padding: 0;
	margin: 0 0 20px;
}
.comments-list__item {
	list-style: none outside;
	padding: 14px 0 17px 30px;
	border-bottom: 1px dotted #000;
}

.comments-list .user {
	display: block;
	margin-bottom: 10px;
	letter-spacing: -3px;
	position: relative;
}
.comments-list .user__img {
	width: 24px;
	height: 24px;
	position: absolute;
	left:-32px;
}
.comments-list .user__name {
	max-width: 600px;
	padding-left: 0;
	letter-spacing: normal;
	padding-top: 9px;
}
.comments-list .date {
	letter-spacing: normal;
}
.comment-text {
	font-size: 13px;
	font-style: italic;
	line-height: 16px;
}
.add-comment h3 {
	margin-bottom: 20px;
}

.comments-form {
	background: url("../images/bg/user.png") no-repeat scroll 0 2px transparent;
    padding-left: 32px;
}

.comments-form .field_name {
	width: 616px;
	margin-left: 1px;
	border-right:1px solid #D3D3D3;
}
.comments-form .field_message {
	border-top:1px solid #D3D3D3;
	height: 16px;
	width: 617px;
	height: 87px;
	border-right: 1px solid #D3D3D3;
}
.comments-form .btn_silver {
    position: absolute;
    bottom: -1px;
    right: -1px;
    border-radius:0 0 5px 0;
    width: 145px;
}
.comments-form .field_capcha {
border-bottom: 1px solid #D3D3D3;
    position: absolute;
    right: 0;
    top: 0;
    width: 115px;
}
.comments-form .field_capcha_img {
    border-bottom: 1px solid #D3D3D3;
    height: 57px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 32px;
    width: 115px;
}
.comments-form .field_capcha_img img {
    height: auto;
    max-height: 57px;
    max-width: 115px;
    width: auto;
}

/* commeents >  */

/* pagination < */

.pager {
	padding: 12px 0;
	margin: 15px 0;
	border-top:1px dotted #000;
	border-bottom:1px dotted #000;
}
.pager ul {
	padding: 0;
	margin: 0;
}
.pager ul li {
	list-style: none;
	display: inline;
	margin-right: 5px;
}
.pager ul li a,
.pager ul li span {
	text-decoration: none;
	display: inline-block;
	height: 24px;
	padding:  0 7px;
	line-height: 23px;
	color:#000;
}
.pager ul li a:hover,
.pager ul li.current span {
	background: #F6F6F6;
}

/* pagination > */

/* .section_info < */

.section_info .block_article {
    float: left;
    width: 400px;
}
.section_info .block_faq {
    float: left;
    width: 260px;
    margin: 21px 30px 0;
    padding: 0;
}

/* .section_info > */

/* categories-list <  */
.categories-list .menu__item {
    margin-bottom: 7px;
}

.categories-list .menu__item a {
    font-family: 'PTSansNarrowRegular';
    font-size: 14px;
    padding-left: 7px;
    text-transform: uppercase;
    position: relative;
    padding-left: 28px;
    display: block;
}

.categories-list .menu__item .ico_comments {
    position: absolute;
    left:0;
    top:0px;
    margin: 2px 10px 0 0;
}
.categories-tabs .menu__item .ico_comments {
    background-position: -62px -67px;
    top:2px;
}
.categories-tabs .categories-list .menu__item {
    margin-bottom: 3px;
}

.categories-tabs .categories-list .menu__item a {
    line-height: 22px;
}
/* categories-list >  */

/* promo slider < */
.section_promo {
    margin-bottom: 15px;
}

.block_clients {
    float: left;
    margin-right: 27px;
    width: 105px;
    height: 270px;
    overflow: hidden;
}
.block_clients .block__title {
    padding-bottom: 6px;
}
.block_materials {
    padding: 0;
    float: left;
    width: 199px;
}
.section_materials .block_what_is {
    float: left;
    width: 156px;
    margin: 0 0 43px 16px;
    padding:18px 16px;
}
.section_materials .block_what_is:first-child {
    margin: 0;
}
/* slider < */
.promo-slider {
    width: 816px;
    float: left;
    margin-right: 32px;
    padding: 0;
}

.slides_container {
    behavior: url(PIE.htc);
    border-radius: 10px;
}
.slide {
    position: absolute;
    top:0;
    left:0;
    background: url(../images/bg/slider-bg.png) no-repeat 0 100%;
    height: 322px;
    width: 816px;
    border-radius: 10px;
}
.slide__in {
    margin: 20px 90px 20px 70px;
    position: relative;
    overflow: hidden;
    height: 285px;
}
.slide__image {
    float: left;
    width: 220px;
    text-align: center;
    margin-top: 22px;
}
.slide__text {
    overflow: hidden;
}

.slide__title {
    color: #9E0D15;
    font-family: 'PTSansNarrowBold';
    font-size: 18px;
    margin: 0;
    padding-bottom: 6px;
    text-transform: uppercase;

}

.offer-head {
    position: relative;
    padding: 7px 110px 10px 0;
    border-bottom: 1px dotted #000000;
    border-top: 1px dotted #000000;
    margin-bottom: 14px;
}
.offer-mounth {
    color: #ff7217;
    font-size: 18px;
    font-family: 'PTSansNarrowRegular';
    display: block;
    text-transform: uppercase;
}
.offer-title {
    color: #000;
    font-family: 'PTSansBold';
    font-size: 36px;
    text-transform: uppercase;
}
.offer-short-text {
    color:#4f9200;
    font-size:13px;
    margin-top:5px;
}
.offer-period {
    color: #ff7217;
}
.discount {
    background: url(../images/bg/discount.png) no-repeat 0 0;
    position: absolute;
    height: 76px;
    width: 76px;
    top:13px;
    right:30px;
    text-align: center;
    color:#fff;
    font-size: 25px;
    line-height: 75px;
    font-style: normal;
}

.offer-categories .categories-list .menu__item {
    display: inline-block;
    vertical-align: top;
    width: 48%;
}

.prev,
.next {
    position: absolute;
    text-decoration: none;
    background: url(../images/bg/icons.png) no-repeat 0 0;
    height: 36px;
    width: 20px;
    top:50%;
    margin-top: -18px;
    text-indent: -9999px;
    z-index:100;
}
.prev {
    background-position: -133px -33px;
    left:36px;
}

.next {
    background-position: -107px -33px;
    right:36px;
}

/* slider > */

/* clients-list < */

.clients-list {
    margin: 0;
    padding: 0;
}
.clients-list__item {
    padding: 0;
    margin: 15px 0 0;
    list-style: none outside;
}

.clients-list__item a {
    display: table-cell;
    height: 46px;
    width: 105px;
    vertical-align: middle;
    text-decoration: none;
    background: #f2f3f3;
    border-radius: 5px;
    text-align: center;
    behavior: url(PIE.htc);
}
.clients-list__item a img {
    max-height: 42px;
    max-width: 100px;
    height: auto;
    width: auto;
    padding-top: 2px;
}
/* clients-list > */

/* what is block < */
.block_what_is {
    padding: 18px;
    margin-bottom: 18px;
    height: 113px;
    overflow: hidden;
    width: 156px;
}

.block_what_is__title {
    font-size: 15px;
    font-family: 'PTSansBold';
    text-transform: uppercase;
    text-align: center;
}
.block_what_is__title:hover a {
    text-decoration: none;
}
.block_what_is__title a.what_is_link {
    color: #f16910;
    font-size: 13px;
    font-family: 'PTSansRegular';
}
.block_what_is img {
    display: block;
    margin-bottom: 8px;
    width: 156px;
    height: 55px;
}
.block_what_is__title span {
    color: #f16910;
    font-size: 13px;
    font-family: 'PTSansRegular';
    border-bottom: 1px solid #f16910;
}


/* what is block >*/

/* section banners < */

.banner {
    display: block;
    position: relative;
    text-decoration: none;
    width: 333px;
    border:1px solid #c9c9c9;
    border-radius:10px;
    height: 160px;
    overflow: hidden;
    padding:24px 30px;
    margin-bottom: 32px;
    behavior: url(PIE.htc);
}
.banner__img {
    position: absolute;
    top:0;
    left:0;
    border-radius:10px;
    z-index: 1;
}
.banner__title,
.banner__text,
.banner__slogan {
    z-index: 10;
    position: relative;
}
.banner__title {
    display: inline-block;
    position: relative;

}
.banner__title__text {
    display: inline-block;
    padding: 0 8px 0 11px;
    position: relative;
    font-weight: normal;
    height: 26px;
    color:#fff;
    line-height: 27px;
    font-size: 16px;
    font-family: 'PTSansNarrowBold';
    background-image: url(../images/bg/red-arrow-bg.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    text-transform: uppercase;
    -o-background-size: 100% 26px; /* opera ≥ 9.5 */
    -webkit-background-size: 100% 26px /* Safari ≥ 5.0, Chrome ≥ 4.0 */
	-khtml-background-size: 100% 26px; /* Konqueror ≥ 3.5.4 */
    -moz-background-size: 100% 26px; /* Firefox ≥ 3.6 */
    background-size: 100% 26px; /* браузеры с поддержкой CSS3: FF ≥ 4, Opera ≥ 10.53, IE ≥ 9.0 */
    behavior: url(PIE.htc);
}
.banner__title_corner_l {
    position: absolute;
    height: 26px;
    width: 11px;
    background: url(../images/bg/red-arrow.png) no-repeat 0 0;
    top:0;
    left:-4px;
}
.banner__title_corner_r {
    position: absolute;
    height: 26px;
    width: 26px;
    background: url(../images/bg/red-arrow.png) no-repeat 0 -27px;
    top:0;
    right:-26px;
}

.banner__slogan {
    display: block;
    color: #ff7217;
    font-size: 17px;
    font-family: 'PTSansNarrowRegular';
    line-height: 20px;
    padding: 6px 0;
    text-transform: uppercase;
}

.banner__text {
    color:#3b3b3b;
    font-size: 13px;
    line-height: 16px;
}
.section_banners {
    margin-bottom: 18px;
}
.section_banners .banner {
    float: left;
    margin-left:32px;
}

.section_banners .banner:first-child {
    margin-left: 0;
}

/* section banners > */

/* tabs < */
.promo-tabs {
    margin-bottom: 30px;
}
.promo-tabs__tabs {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 10;
}
.promo-tabs__tabs li {
    list-style: none outside;
    margin: 0;
    padding: 0;
    float: left;
    height: 55px;
    position: relative;
}

.promo-tabs__tabs li a {
    color: #305193;
    display: block;
    font-family: 'PTSansNarrowBold';
    font-size: 18px;
    height: 65px;
    line-height: 64px;
    margin-top: -5px;
    padding: 0 0 0 45px;
    min-width: 415px;
    text-transform: uppercase;
    position: relative;
}
.promo-tabs__tabs .first-tab {
    margin-left: -20px;
}
.promo-tabs__tabs .first-tab a {
    background: url(../images/bg/tab-bg-first.png) no-repeat 20px 0;
    padding-left: 85px;
    min-width: 370px;

}
.promo-tabs__tabs .second-tab a {
    background: url(../images/bg/tab-bg-second.png) no-repeat 100% 0;
}

.promo-tabs__tabs .ui-state-active {
    z-index: 10;
}
.promo-tabs__tabs .ui-state-active.first-tab {
    margin: 0;
}
.promo-tabs__tabs .ui-state-active.first-tab a {
    background: url("../images/bg/tab-active.png") repeat-x scroll 0 0 transparent;
    border-color: #D1D1D1;
    border-radius: 8px 0 0 0;
    border-style: solid;
    border-width: 1px 0 0 1px;
    color: #A80D21;
    border-top-color: #b9b9b9;
    height: 63px;
    margin-top: 0;
    padding-left: 62px;
    text-decoration: none;
    width: 335px;
    line-height: 52px;
}

.promo-tabs__tabs .ui-state-active.second-tab a {
    background: url("../images/bg/tab-active.png") repeat-x scroll 0 0 transparent;
    border-color: #D1D1D1;
    border-radius: 0 8px 0 0;
    border-style: solid;
    border-width: 1px 0 0 0;
    color: #A80D21;
    border-top-color: #b9b9b9;
    height: 63px;
    margin-top: 0;
    text-decoration: none;
    width: 345px;
    line-height: 52px;
}

.promo-tabs__tabs .ui-state-active.second-tab .second-tab_r_corner {
    background: url(../images/bg/tab-bg-second-corner.png) no-repeat 0 0;
    display: block;
    position: absolute;
    height: 62px;
    right: -15px;
    top: -6px;
    width: 23px
}
.promo-tabs__content {
    border-radius: 8px;
    border:1px solid #d1d1d1;
    background: #fcfcfc url(../images/bg/tabs-content.png) repeat-x 0 100%;
    position: relative;
    padding:25px 0 15px 62px;
    position: relative;
    z-index: 5;
    min-height: 215px;
    behavior: url(PIE.htc);
}

.categories-tabs {
    padding: 0 0 0 3px;
    margin: 0;
    overflow: hidden;
}
.categories-tabs__item {
    padding: 0;
    margin: 0;
    list-style: none;
    float: left;
    width: 165px;
    margin-left: 27px;
}

.categories-tabs__item:first-child {
    margin-left: 0;
}
.category-img-box {
    box-shadow: 0 2px 5px #848484;
    border-radius: 8px;
}
.category-img {
    border:3px solid #fff;
    width: 159px;
    height: 110px;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    margin-bottom: 12px;
}
.category-img img {
    position: absolute;
    width: auto;
    height: auto;
    top:0;
    left:0;
    z-index: 1;
}
.category-title {
    font-family: 'PTSansBold';
    font-size: 16px;
    position: absolute;
    top:0;
    left:0;
    height: 32px;
    width: 139px;
    padding: 0 10px;
    line-height: 31px;
    color:#fff;
    text-transform: uppercase;
    background: rgba(0,0,0,0.5);
    z-index: 2;
}

/* tabs > */

/* articles-list < */

.articles-list .block_article {
    padding: 0 26px 20px;
    border-width: 3px;
    border-style: solid;
    border-color: #FFD400;
    border-radius: 10px;
    background-image: url(../images/bg/articles-corners-w.png);
    background-position: 100% 0;
    background-repeat: no-repeat;
    margin-bottom: 33px;
}

.articles-list .article__title{
    border-bottom: 1px dotted #000000;
    padding-bottom: 17px;
    margin-bottom: 20px;
    line-height: 27px;
    min-height: 27px;
}
.articles-list .article__title .ico {
    margin-top: 7px;
}
.articles-list .article__image {
    float: left;
    margin-right: 25px;
    margin-bottom: 21px;
    height: 160px;
    width: 340px;
}
.articles-list .article__text {
    overflow: hidden;
}
.articles-list .article {
    overflow: hidden;
}
.articles-list .block__bottom {
    margin-top: 0;
    padding-top: 17px;
}
.articles-list_top .block_article.block_article_even {
    background-image: url(../images/bg/articles-corners-g.png);
    background-color: #f6f6f6;
    border-color: #e6e7e8;
}
.articles-list_top .block_article:nth-child(even) {
    background-image: url(../images/bg/articles-corners-g.png);
    background-color: #f6f6f6;
    border-color: #e6e7e8;
}
.articles-list_bottom .block_article.block_article_odd {
    background-image: url(../images/bg/articles-corners-g.png);
    background-color: #f6f6f6;
    border-color: #e6e7e8;
}

.articles-list_bottom .block_article:nth-child(odd){
    background-image: url(../images/bg/articles-corners-g.png);
    background-color: #f6f6f6;
    border-color: #e6e7e8;
}

.articles-list .articles-link {
    right: auto;
    left:0;
}
.articles-list .more-link {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* articles-list > */

/* special < */

.offer {
    padding: 19px 30px 20px;
    margin-bottom: 33px;
    margin-top: 15px;
}
.offer .slide__title {
    padding-bottom: 11px;
}
.offer .offer-head {
    padding-top: 12px;
    margin-bottom: 20px;
}
.offer .offer-title {
    font-size: 26px;
    line-height: 38px;
}
.offer .offer-short-text {
    margin-top: 0;
}
.offer .discount {
    background: url(../images/bg/discount_small.png) no-repeat 0 0;
    height: 54px;
    width: 54px;
    font-size: 18px;
    line-height: 53px;
    z-index: 10;
    right:42px;
    top:30px;
}
.offer .offer-img {
    position: absolute;
    max-height: 95px;
    max-width: 95px;
    top:30px;
    right:-5px;
    z-index: 1;
}
/* special > */

/* faq page < */
.section_faq  {
    margin-bottom: 50px;
}

.section_faq .questions-list {
    border-top: 1px dotted #000;
}

.section_faq .questions-list li  {
    display:block;
    list-style: none outside;
    padding: 17px 0 17px 52px;
    position: relative;
    border-bottom: 1px dotted #000;
	list-style: none outside;
}

.section_faq .questions-list  li .list-item-before {
    color: #999999;
    font-family: 'Arial';
    font-size: 14px;
    height: 30px;
    width: 35px;
    border-top:1px solid #e8e8e8;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #d3d3d3;
    display: block;
    position: absolute;
    left:0;
    top:11px;
    text-align: center;
    border-radius:5px;
    line-height: 30px;
}
.section_faq .questions-list a {
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'PTSansNarrowBold';
    line-height: 18px;
}

/* faq page > */

/* questions form < */


.question-form {
    background: #f8f7f2 url(../images/bg/question-form-bg.png) repeat-x 0 0;
    margin-bottom: 57px;
}

.question-form .field_capcha {
    position: absolute;
    top:0;
    right: 0;
    border-bottom: 1px solid #d3d3d3;
    width: 115px;
}

.question-form .field_title {
    width: 648px;
    border-bottom: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    height: 18px;
}
.question-form .field_capcha_img {
    position: absolute;
    top:32px;
    height: 57px;
    right: 0;
    border-bottom: 1px solid #d3d3d3;
    width: 115px;
    text-align: center;
}
.question-form .field_capcha_img img {
    max-height: 57px;
    max-width: 115px;
    height: auto;
    width: auto;
}
.question-form .field_message {
    width: 648px;
    border-bottom: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    height: 56px;
}
.question-form .field_name {
    width: 235px;
    border-right: 1px solid #d3d3d3;
    height: 18px;
}
.question-form .field_email {
    width: 378px;
    height: 18px;
}

.question-form .btn_blue {
    width: 145px;
    position: absolute;
    text-align: center;
    border-radius:0 0 5px 0;
}
.question-form_auth .field_message {
    border-bottom: 0;
}
/* questions form > */

/* block profile < */

.block_profile {
    padding: 10px 0;
    border-top:1px dotted #000;
    border-bottom:1px dotted #000;
    height: 50px;
    margin: 13px 0 25px;
    overflow: hidden;
}
.user {
    vertical-align: middle;
     display: inline-block;
     margin-right: 40px;
     max-width: 550px;
}
.user__img {
     vertical-align: middle;
     display: inline-block;
     width: 50px;
     height: 50px;
     overflow: hidden;
}
.user__name {
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    font-weight: bold;
    padding-left: 15px;
    max-width: 260px;
}
.menu_user,
.menu_user .menu__item {
    display: inline-block;
    vertical-align: middle;
}
.menu_user .menu__item {
    display: inline;
    margin-right: 52px;
}

.menu_user .menu__item a {
    font-size: 14px;
}
.menu__item_comments sa {
    color: #000;
}
.block_profile ~ .questions-list {
    border-top:0;
}
/* block profile > */

/* block_auth < */

.block_auth {
    border: 1px solid #C9C9C9;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 40px;
    padding: 28px 32px 50px;
    background: url(../images/bg/auth-bg.png) repeat-x 0 100% #fff;
}
.block_auth .block__title {
    color:#262627;
    font-size: 19px;
     font-family: 'PTSansNarrowRegular';
     text-transform: none;
	 margin-bottom: 20px;
}
.column_auth_site {
    float: left;
    width:355px;
    padding-right:45px;
}
.column_auth_fb {
    float: left;
    width:300px;
    padding-left:45px;
	padding-top: 73px;
	border-left: 1px solid #cccccc;
	height: 190px;
}

.auth-tabs__tabs {
	margin: -2px 0 0 0;
	padding: 0;
	overflow: hidden;
}
.auth-tabs__tabs li {
	float: left;
	margin: 0 20px 0 0;
	list-style: none outside;
}
.auth-tabs__tabs li a {
	font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 10px;
	color: #305193;
    font-family: 'PTSansNarrowBold';
}
.auth-tabs__tabs .ui-state-active a {
	color: #a80d21;
	text-decoration: none;
	cursor: default;
}
.auth-form {
	padding-left: 37px;
	background: url(../images/bg/user.png) no-repeat 0 4px;
}

.login-form {
	margin-top: 39px;
}

.auth-form .field {
	border-top:1px solid #D3D3D3;
	width: 285px;
	padding: 9px 15px;
	height: 18px;
}
.auth-form fieldset .field:first-child {
	border:0;
}
.auth-form .round-form {
	margin-bottom: 8px;
}
.auth-tabs__content {
	min-height: 300px;
	padding-top: 15px;
}
.auth-form .btnset {
	margin-top: 20px;
}
.capcha__img {
	vertical-align: middle;
	display: inline-block;
	margin-right: 10px;
}
.capcha__field {
	vertical-align: middle;
	display: inline-block;
	width: 108px;
	padding: 7px 12px;
	border:1px solid #D3D3D3;
	border-radius:5px;
	height: 18px;
}
.btn_fb_login {
	cursor: pointer;
	background: url(../images/bg/fb-btn.png) no-repeat 0 0;
	height: 51px;
	width: 244px;
	font-family: 'PTSansNarrowBold';
	padding-left: 55px;
	text-align: center;
	line-height: 52px;
	color: #fff;
	font-size: 17px;
	text-transform: uppercase;
	margin-bottom: 17px;
	text-shadow:1px 1px 1px #043665;
}

/* block_auth > */

/* faq single page < */

.question-single {
	border-top:1px dotted #000;
	border-bottom:1px dotted #000;
	padding: 20px 60px 0 38px;
	position: relative;
	margin-bottom: 20px;
}

.question-single__title {
    position: relative;
    background: url("../images/bg/title-arrow.png") no-repeat scroll 0 4px transparent;
    color: #000000;
    font-family: 'arialnarrow';
    font-size: 27px;
    line-height: 27px;
    margin-bottom: 20px;
    padding-left: 35px;
    margin-left: -35px;
    text-transform: none;
}

.question-single__text {
    color: #262627;
    font-family: 'PTSansNarrowRegular';
    font-size: 25px;
    font-style: normal;
    line-height: 30px;
    margin-bottom: 16px;
}
.user_author {
	margin-bottom: 13px;
}

.user_author .user__img {
	height: 24px;
	width: 24px;
}

.user_author .user__name {
	padding: 0 5px;
}
 .date {
	color:#7f7f7f;
	font-size: 11px;
}

.question-single__answer {
    border-top: 1px dotted #000000;
    margin-bottom: 30px;
    margin-top: 12px;
    padding-left: 38px;
    padding-top: 20px;
}

.question-single__answer__text {
	color: #262627;
	font-size: 19px;
	line-height: 25px;
	font-family: 'arialnarrow';
}

.add-comment_question {
	padding-bottom: 35px;
	border-bottom: 1px dotted #000;
	margin-bottom: 25px;
}


.faq-nav {
	position: relative;
	height:37px;
	margin-bottom: 20px;
	text-align: center;
	line-height: 37px;
}


.faq-nav .prev-link,
.faq-nav .next-link {
	border:1px solid #e8e8e8;
	padding: 0 12px;
	height: 34px;
	line-height: 34px;
	border-radius:5px;
	display: block;
	position: absolute;
	top:0;
	text-align: left;
}

.faq-nav .ico {
	position: absolute;
	top:10px;
}

.faq-nav .next-link {
	right: 0;
	padding-right: 50px;
}

.faq-nav .next-link .ico {
	right:12px;
}

.faq-nav .prev-link {
	padding-left: 50px;
	left: 0;
}
.faq-nav .prev-link .ico {
	left:12px;
}
/* faq single page > */


/* order-form < */

.request-form {
	margin-top: 20px;
	border-top:1px dotted #000;
	padding-top: 30px;
}
.request-form fieldset {
	margin-bottom: 20px;
	border-bottom:1px dotted #000;
	padding-bottom: 20px;
}
.fieldset__title {
    background: url("../images/bg/title-arrow.png") no-repeat scroll 0 0px transparent;
    color: #000000;
    font-family: 'PTSansNarrowRegular';
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 30px;
    padding-left: 25px;
    text-transform: none;
}
.request-form .fields-list {
	position: relative;
	margin-left: -55px;
	letter-spacing: -4px;
}


.request-form .fields-list__item {
	display: inline-block;
	vertical-align: top;
	letter-spacing: normal;
	margin-left: 55px;
	margin-bottom: 20px;
}
.request-form .field_chbox_box {
    display: block;
    margin-bottom: -4px;
}
.request-form .fields-list__item_column {
   width: 385px;
}
.request-form label {
    letter-spacing: normal;
}
.request-form .field {
    border: 1px solid #D3D3D3;
    background: #f8f7f2;
    border-radius: 5px 5px 5px 5px;
    float: left;
    height: 18px;
    padding: 7px 12px;
     width: 241px;
    letter-spacing: normal;
}
.request-form .field_address {
    width: 682px;
}
.req {
    color:#a40d21;
}

.request-form h4 {
    color: #262627;
    font-family: 'arialnarrow';
    font-size: 23px;
    margin-bottom: 13px;
    margin-top: -6px;
}
.request-form .column_right {
    width: 385px;
}
.deal .fields-list {
    margin: 0;
}
.deal .fields-list__item {
    margin-left: 120px;
    display: inline-block;
    vertical-align: top;
}
.deal .fields-list__item:first-child {
    margin: 0;
}
.descr .field_message {
     background: url("../images/bg/question-form-bg.png") repeat-x scroll 0 0 #F8F7F2;
     height: 130px;
     width: 796px;
}
.descr label {
    width: 135px;
}

/* order-form > */


/* promo article < */

.article-promo {
    border-top:1px dotted #000;
    padding-top: 35px;
    margin-top: 20px;
}
.article-promo-title {
    color: #A40D21;
    font-family: 'PT';
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-family: 'PTSansNarrowBold';
}

.article-promo .block_article {
     border: 1px solid #C9C9C9;
}
.article-promo .categories-list {
     border-top:1px dotted #000;
     padding-top: 15px;
     margin-top: 15px;
}

.article-promo .categories-list .menu__item {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    margin-bottom: 13px;
}

.article-promo .categories-list a {
     font-family: 'PTSansBold';
     font-size: 15px;
}


.comments-list_user  {
	margin-top: -22px;
}
.comments-list_user .comments-list__item {
    margin-bottom: 8px;
    padding-bottom: 35px;
    padding-left: 40px;
}
.comments-list_user .question__title .ico_comments {
   margin-left: -38px;
}

.comments-list_user .ico_next_arrow {
	margin:1px 5px;
}
.comments-list_user .question-category {
	color:#f16910;
}
.comments-list_user .date {
	display: block;
	margin-top: 8px;
}
.comments-list_user .comment-text {
    color: #262627;
    font-family: 'PTSansNarrowRegular';
    font-size: 20px;
    font-style: normal;
    line-height: 25px;
    margin-top: 10px;
}


.user_comment {
	padding-top: 15px;
	border-top:1px dotted #000;
}
.user_comment h3 {
	color: #a40d21;
	margin-bottom: 10px;
}
.user_comment .field_message {
	height: 100px;
	border:0;
}
.user_comment .question-form {
	margin-bottom: 0;
}

.comment-head {
	position: relative;
}

.comment-head .ico_collapsed,
.comment-head .ico_expanded {
	position: absolute;
	top:0;
	right: 0;
	cursor: pointer;
}

.comment-other {
	display: none;
}
/* promo article > */


span.dm_current {
    cursor: default;
}