/* layoyt */
html,
body {
    height: 100%;
    position: relative;
}

body {
    background: #f3f3f3 url(../images/bg/page-gradient.png) repeat-x 0 0;
    min-width:980px;
    position: relative;
}
.page {
    background: url(../images/bg/page-pict.png) no-repeat 170px 0;
    height: auto !important;
    min-height: 100%;
    position: relative;
    z-index: 1;
}

.container {
    min-width:780px;
    max-width: 1040px;
    padding-left: 200px;
    position: relative;
    text-align: right;
}


.footer,
.main {
    display: inline-block;
    max-width: 1020px;
    min-width: 780px;
    width: 100%;
    text-align: left;
}

.main {
    padding-bottom: 160px;
}

/* header < */

.logo {
    position: absolute;
    left:0;
    top:45px;
    margin: 0;
    padding: 0;
     min-width: 172px;
    max-width: 186px;
    text-decoration: none;
    width: 17%;
}
.logo__img {
    display: block;
    height: auto;
    width: 100%;
}

/* header > */


/* footer < */

.bottom {
    background: #000 url(../images/bg/footer-pict.jpg) repeat-x 0 100%;
    height: 97px;
    margin-top: -97px;
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.footer {
    color:#a3a3a3;
    font-size:12px;
    line-height: 15px;
    padding: 9px 0;
    position: relative;
    text-align: left;
}

/* footer > */

/* common blocks < */

.line {
    position: relative;
}

/* common blocks > */

/* menu < */

.menu {
    margin: 0;
    padding: 0;
}
.menu__item {
    list-style: none outside;
}
.menu_main {
    letter-spacing: 8px;
    margin: 42px 0 0 0;
}
.menu_main .menu__item {
    display: inline;
    margin:0 4% 0 0;
    letter-spacing: normal;
}
.menu_main a {
    color:#4d4d4d;
}
.menu_main a:hover {
    color:#dc2669;
}

/* menu > */

/* content <  */

.social-buttons  {
    margin: 0;
    padding: 0;
    position: absolute;
    top:-20px;
    right: 26%;
}
.social-buttons__item {
    float: left;
    margin: 0 14px 0 0;
    list-style: none;
}
.order-button {
    background: #000;
    font-family: 'lobster_1.4regular';
    height: 42px;
    line-height: 38px;
    color:#fff;
    position: absolute;
    font-size: 24px;
    text-align: center;
    text-decoration: underline;
    top:-5px;
    right:2%;
    min-width: 197px;
    width: 25%;
}
.order-button .order-button__corner {
    position: absolute;
    bottom:-11px;
    right:0;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 11px 11px 0;
    border-color: transparent #000 transparent transparent;
}
.order-button:hover {
    background: #be2c62;
    color:#fff;
}
.order-button:hover .order-button__corner {
     border-color: transparent #be2c62 transparent transparent;
}


.portfolio {
    margin: 30px 0 20px 0;
    padding: 0;
    overflow: hidden;
}
.portfolio__item {
    list-style: none outside;
    margin: 0;
    padding: 0;
    float: left;
    height: 45px;
    width: 45px;
    overflow: hidden;
}
.portfolio__item img {
    display: block;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    opacity: 0.9;
}
.portfolio__item img:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.quote_promo {
    float: right;
    margin: 30px 0 20px 35px;
    width: 340px;
}
.quote_promo__top {
    background: #f3e9c9;
    height: 12px;
    position: relative;
    margin: 0 44px 0 11px;
}
.quote_promo .tl {
    background: url(../images/bg/quote-corners.png) no-repeat 0 0;
    position: absolute;
    height: 12px;
    left:-11px;
    top:0;
    width: 11px;
}

.quote_promo .tr {
    background: url(../images/bg/quote-corners.png) no-repeat -12px 0;
    position: absolute;
    top:-14px;
    right:-44px;
    height: 51px;
    width: 44px;
}

.quote_promo__bottom {
    background: #f3e9c9 url(../images/bg/quote-bg-bottom.png) repeat-x 0 100%;
    height: 11px;
    position: relative;
    margin: 0 11px 0 11px;
}
.quote_promo .bl {
    background: url(../images/bg/quote-corners.png) no-repeat 0 -13px;
    position: absolute;
    height: 11px;
    left:-11px;
    top:0;
    width: 11px;
}

.quote_promo .br {
    background: url(../images/bg/quote-corners.png) no-repeat 0 -25px;
    position: absolute;
    top:0;
    right:-11px;
    height: 11px;
    width: 11px;
}

.quote_promo__content {
     background: #f3e9c9 url(../images/bg/quote-bg-right.png) repeat-y 100% 0;
     padding: 20px 50px 10px 35px;
}

.quote_promo .quote__text {
    font-size: 16px;
    line-height: 18px;
    font-family: 'PTSansNarrowRegular';
    font-style: italic;
}
.quote__author {
    font-family: 'PTSansBoldItalic';
    display: block;
    text-align: right;
    font-size: 20px;
}


.poems-types {
    margin: 0;
    padding: 0;
}
.poems-types__item {
    display: inline;
    margin: 0 32px 0 0;
}
.poems-types__item a {
    font-size: 19px;
    font-family: 'PTSansNarrowRegular';
}
.page-head {
     display: inline-block;
   position: relative;
   margin-bottom: 35px;

}
.page-title {
    display: inline-block;
    position: relative;
    font-size: 45px;
    line-height: 54px;
    font-family: 'PTSansNarrowBold';
    text-transform: uppercase;
    font-weight: normal;
    margin-right: 470px;
}
.page-head__note {
    display: block;
    font-size: 30px;
    color:#afafaf;
    text-transform: lowercase;
    font-weight:normal;
    font-family: 'PTSansNarrowRegular';
    line-height: 30px;
    margin-top: -5px;
}
.page-head .ico_text-label {
    background: url(../images/bg/hit.png) no-repeat 0 0;
    position: absolute;
    height: 97px;
    width: 97px;
    right: -71px;
    bottom:50px;
    z-index: -1;
}

.promo-title {
    clear: both;
     font-family: 'PTSansNarrowRegular';
     font-size: 25px;
     line-height: 36px;
     margin-bottom: 60px;
}
.promo-title .marked {
    color:#d7316e;
}
/* content >  */