fieldset {
    padding-bottom: 20px;   
    border-bottom: 1px dashed #c2c2c2;
    margin: 0 5% 25px;
}

.fields-list {
    margin: 0 14px 0 0;
    padding: 0;
}

.fields-list__item {
    list-style: none outside;
    padding: 0;
    margin: 0 0 20px;
}

input, textarea, select {
    color: #000;
    font-size: 19px;
    font-family: 'PTSansNarrowRegular','Arial', 'Helvetica', sans-serif;
    line-height: 21px;
}
textarea {
    resize:none;
    overflow: auto;
}

label {
    display: block;
    color: #000000; 
    text-align: left;
    margin-bottom: 10px;
}

.field_chbox {
    position: relative;
    padding-left: 35px;
    display: block;
}

.field-wrapper {
    
}

.field_textarea {
    background: #fff;
    border:2px solid #cecece;
    border-radius: 5px;
    padding: 3px 5px;
    height: 117px;
    width: 100%;
}

.field_text, 
.field_textarea_short {
    background: #fff;
    border:2px solid #cecece;
    border-radius: 5px;
    padding: 3px 5px;
    height: 28px;  
    width: 100%;
}

.field_text:focus, 
.field_textarea:focus {
    border-color: #1fbd9e;
}

.field_file {
    
}


.form-text_error {
    color: #bd073f;
}

.field_error {
    border-color: #e74c3c;
}

.form-text {
  color:#535353;    
  margin-bottom: 35px;
}

.form-text strong {
     font-family: 'PTSansBoldItalic';
     font-weight: normal;
}

.placeholder {
    color: #a3a3a3;
}
input:-moz-placeholder,
textarea:-moz-placeholder { color: #a3a3a3; }

input::-moz-placeholder,
textarea::-moz-placeholder { color: #a3a3a3; }


input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder { color: #a3a3a3; }



.jqTransformHidden {display: none;}

.jqTransformSelectWrapper {
    background: #fff;
    border:2px solid #cecece;
    border-radius: 5px;
    padding: 3px 5px;
    height: 28px;
    width: 100% !important;
    position: relative;
}

.jqTransformSelectWrapper div {
    padding-right: 50px;
    cursor: pointer;
    position: relative;
    z-index: 101;
}
.jqTransformSelectWrapper span {
    white-space: nowrap;
    display: block;
    padding-top: 3px;
}
.jqTransformSelectOpen {
    background: #0073A5 url(../images/bg/select-arrow.png) 50% 50% no-repeat;
    border-left: 2px solid #CECECE;
    border-radius: 0 4px 4px 0;
    height: 34px;
    position: absolute;
    right: -5px;
    top: -3px;
    width: 37px;
    border-bottom: 2px solid #cecece;
    z-index: 102;
}
.jqTransformSelectOpen:hover {
    background-color:#0087c2; 
}

.jqTransformSelectWrapper ul {
    border-radius: 0 0 5px 5px;
    position: absolute;
    background: #fff;
    padding: 0;
    margin: -1px 0 0 -7px;
    border:2px solid #cecece;
    border-top:0;
    position: absolute;
    top: 34px;
    width: 100% !important;
    z-index: 100;
}
.jqTransformSelectWrapper ul li {
    list-style: none;
    display: block;
}
.jqTransformSelectWrapper ul li a {
    padding: 3px 5px;
    color: #000;
    text-decoration: none;
    display: block;
}
.jqTransformSelectWrapper ul li a:hover {
    text-decoration: none;
    background: #ededed;
}
.jqTransformRadioWrapper {
    vertical-align: top;
    display:inline-block;
    margin-top: -2px;
    position: relative;
}
.jqTransformRadio {
    background: url(../images/bg/radio.png) no-repeat 0 0;
    display: block;
    height: 23px;
    width: 23px;
    
}
.radio-box:hover .jqTransformRadio{
    background-position: 0 -26px;
}
.jqTransformRadioWrapper .jqTransformChecked, 
.jqTransformRadioWrapper .jqTransformChecked:hover {
    background-position:0 -50px;
}
.radio-box {
    cursor: pointer;
}

.radio-box label {
    display: inline-block;
    vertical-align: top;
}

.btnset {
    margin: 40px 0 60px;
    text-align: center;
}

.btn {
    background: #dc2669;
    display: inline-block;
    vertical-align: top;
    position: relative;
    cursor: pointer;
    width: 180px;
    padding: 8px 0;
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-size: 22px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}
.btn:hover {
    background: #ed3a7c;
}
.btn:active {
    background: #b32559;
}

.form-text_center {
    text-align: center;
}
.poetry-order label {
    white-space: nowrap;
}