input {
    overflow:visible;
}

/* zoomin */
.clearfix {
	zoom:1;
}

.section_sitemap  .menu__item,
.btn,
jqTransformRadioWrapper,
.jqTransformCheckboxWrapper,
.jqTransformRadio,
.jqTransformCheckbox {
   *zoom:1;
   *display:inline;
}

.text-box__title {
    background: url(../images/bg/box-title-bg1.png) no-repeat 0 0;
}
.text-box__note {
    background: url(../images/bg/box-note-bg1.png) no-repeat 0 0;
}

.text-box__head_style2 .text-box__title {
    background: url(../images/bg/box-title-bg2.png) no-repeat 0 0;
}
.text-box__head_style2 .text-box__note {
    background: url(../images/bg/box-note-bg2.png) no-repeat 0 0;
}

.text-box__head_style3 .text-box__title {
     background: url(../images/bg/box-title-bg3.png) no-repeat 0 0;
}

.text-box__head_style3 .text-box__note {
     background: url(../images/bg/box-note-bg3.png) no-repeat 0 0;
}